{% extends 'generic.html' %}

{% block headContent %}
    <title>ARIS - Articles & Communiqués</title>
    <style type="text/css">
        #nav1 a {
        border-bottom: none;
        }
        #nav1 a:nth-child(3) {
        /* border-bottom: none; */
        color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
        }
        #nav2 a:nth-child(1) {
        border-bottom: none;
        color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
        }
    </style>
{% endblock %}

{% block nav2Content %}
    <a href="/aticlesRetraites">Articles & Communiqués</a>
    <a href="/liensUtiles">Liens Utiles</a>
{% endblock %}

{% block sxnContent %}
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">07/10/2022</div>
        Escroqueries, rançons, vols... Les Cyberattaques se multiplient, générant une économie parallèle colossale. Cibles privilégiées, les PME, vulnérables face aux gangs organisés en véritables entreprises. 
        <br/>Si la Police renforce sa riposte, les arrestations des hackers sont rares.
        <br/><br/>
        Ci-joints, deux articles de Challenges dont "Onze réflexes pour se défendre".
        <br/><br/>
        <a href="https://drive.google.com/file/d/1SEo51vT_qROFfDgyCJRbdqJ313iDPzQq/view?usp=sharing">2022_09_22-Challenges-Les_bandits_d'internet_prolifèrent.pdf</a>
        <br/><br/>
        <a href="https://drive.google.com/file/d/15SGj4mVaGcDiKosJ98f_IM50fK7HkJuR/view?usp=sharing">2022_09_22-Challenges-Internet,onze_réflexes_pour_se_défendre_efficacement.pdf</a>
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">23/09/2022</div>
        Communication des courriers échangés entre la Présidence de la République et la CFR.
        <br/><br/>
        - Lettre du 31 Mai 2022 de Pierre ERBS , Président de la CFR, au Président de la République, concernant l’autonomie et le handicap.<br/>
        <a href="https://drive.google.com/file/d/184n6uy55nB_3Pt4xjZ9ab29Mz-kLK14S/view?usp=sharing">2022_05_31-Lettre_du_Président_CFR_Pierre_ERBS_au_Président_de_la_République_E.MACRON_concernant_l'autonomie.pdf</a>
        <br/><br/>
        - lettre de la Présidence de la République du 30 Août 2022 en réponse au courrier de Pierre ERBS.<br/>
        <a href="https://drive.google.com/file/d/16D1lVdeLwCTTOzad_q5UkK9Ug6yZxGe0/view?usp=sharing">2022_08_30-Lettre_Chef_de_Cabinet_du_PRESIDENT_REPUBLIQUE_en réponse_à lettre_de_Pierre_ERBS-Août_2022.pdf</a>
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">12/09/2022</div>
        Communication de trois informations.<br/><br/>
        - AGIRC-ARRCO – Actualisation des taux de prélèvement à la source – 16/08/2022.<br/>
        <a href="https://drive.google.com/file/d/1S1gMsqKIFYWJTfPle-cylIqgglUU3gT8/view?usp=sharing">2022_08_22-34-2022-2-AGIRC-ARRCO-Actualisation_des_taux_de_prélévement_a_la_source-Agirc-Arrco.pdf</a>
        <br/><br/>
        - AMELI – Attention aux SMS, appels ou courriels frauduleux – 16 Août 2022.<br/>
        <a href="https://drive.google.com/file/d/1WBGB4k3QY-TwRfr52bsUYiXvztqv8QAk/view?usp=sharing">2022_08_22-34-2022-5-AMELI_Attention_aux_SMS-appels_ou_courriels_frauduleux-ameli.fr-Assure.pdf</a>
        <br/><br/>
        - Handicap et transports : Quels sont vos droits ? Le Point – 16 Août 2022.<br/>
        <a href="https://drive.google.com/file/d/1MzrPnd4YrAkVKrV_SHw-4xRu9mEOquGU/view?usp=sharing">2022_08_22-34-2022-6-Handicap_et_transports-quels_sont_vos_droits.pdf</a>
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">18/07/2022</div>
        Ci-après deux informations sur l'évolution des pensions de retraite.<br/><br/>
        - Un article du 24/06 sur les modes de revalorisation des pensions.<br/>
        <a href="https://drive.google.com/file/d/1nbLWc-egNjE9rAnIAe-GNLX4AsDOQl8x/view?usp=sharing">2022_06_21-Lettre_CFR_à_AGIRC_ARRCO.pdf</a>
        <br/><br/>
        - Une lettre de la CFR du 21/06 au président de AGIRC ARRCO.<br/>
        <a href="https://drive.google.com/file/d/1wUqXFOtJcRXSwEnyAwCvq6FSUQjAQ5NJ/view?usp=sharing">2022_06_24-Revalorisation_des_retraites-comment_va_augmenter_votre_pension.pdf</a>
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">28/06/2022</div>
        Le président de la CFR a adressé une lettre au Président de la République, l'interpelant sur la nécessité d'une politique plus ambitieuse, notamment sur l'autonomie des personnes âgées ou en situation de handicap.<br/>
        <a href="../static/doc/20220615-CFR-Lettre_sur_Autonomie_au_Président_de_la_Republique.pdf" target="_blank">20220615-CFR-Lettre_sur_Autonomie_au_Président_de_la_Republique.pdf</a>
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">12/04/2022</div>
        Des personnes non autorisées ont réussi à accéder à des données personnelles administratives concernant environ 500 000 assurés de l’Assurance Maladie d’après les investigations en cours.<br>
        <a href="../static/doc/AMELI_Données_dérobées-l_Assurance_Maladie_met_en_garde_ses_assurés.pdf" target="_blank">AMELI_Données_dérobées-l_Assurance_Maladie_met_en_garde_ses_assurés.pdf</a>
        <br><br/>
        Chaque assuré concerné va recevoir un courrier ou un courriel de l’Assurance Maladie pour le prévenir et l’alerter sur les risques d’hameçonnage/phishing auquel il pourrait être confronté.
        <br><br/>
    </div>
    <!----> 
    <div class="divFilInfos">
        <div class="italic10R">22/03/2022</div>
        Ci-joints deux communiqués pour information.
        <br/><br/>
        - AGIRC-ARRCO – Les résultats de l’AGIRC-ARRCO confirment la robustesse du pilotage paritaire – 17/03/2022.<br/>
        <a href="../static/doc/20220321-12-2022-2-AGIRC-ARRCO_20220317_CP_Resultats-Agirc-Arrco-2021.pdf" target="_blank">20220321-12-2022-2-AGIRC-ARRCO_20220317_CP_Resultats-Agirc-Arrco-2021.pdf</a>
        <br/><br/>
        - Le déficit des comptes de la Sécurité Sociale en 2021 en nette amélioration par rapport à 2020, et moins creusé que prévu.<br/>
        <a href="../static/doc/20220321-12-2022-3-CP_16032022_cloture_des_comptes.pdf" target="_blank">20220321-12-2022-3-CP_16032022_cloture_des_comptes.pdf</a>
        <br/> <br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">22/03/2022</div>
        A l'approche des élections présidentielles, veuillez trouver en annexe la lettre de la CFR aux candidats à l'élection.<br/>
        <a href="../static/doc/CFR_lettre_aux_candidats_&_engagements-20220307.pdf" target="_blank">CFR_lettre_aux_candidats_&_engagements-20220307.pdf</a>
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">15/03/2022</div>
        Si vous souhaitez participer à une consultation juridique du CSE CACIB vous trouverez ci-joint la procédure à suivre.
        <br/><br/>
        Pour toute information complémentaire ou inscription il y a lieu:
        <br/><br/>
        - d'appeler Nathalie GUILLOU au 01 57 87 28 58
        <br/><br/>
        - ou de lui adresser un mail: nathalie.guillou@ca-cib.com
        <br/><br/>
        Amicales salutations
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos"></div>
    <br/><br/>
{% endblock %}